textarea {
    min-height: 400px;
}

/* mail desing */
#emails-view .email-item {
    margin: 10px 0;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ced4da;
    cursor: pointer;
    background-color: white;
}

.navbar-brand img {
    margin-left: 10px;
    width: 100px;
}

 /* Sidebar styling */
#sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    background: #f5f6f8;
    transition: left 0.3s ease;
    padding: 20px;
}

#sidebar.active {
    left: 0;
}

#toggle-btn {
    border: none;
    outline: none;
    margin: 0px 10px;
}

.profile-img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

/* design search field */
.search-field {
    padding: 8px 16px;
    border: 1px solid #ced4da;
    border-radius: 25px;
}

.search-field i {
    color: #6c757d;
}

.search-field label{
    margin: 0px;
}
.search-field input {
    width: 400px;
    font-size: 17px;
    border: none;
    outline: none;
}